@media only screen and (max-width: 391px) {
  h5 {
    font-size: 16px !important;
  }

  .head-inner-container {
    display: none !important;
  }
}

.head-inner-container {
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 2%;
  padding-left: 2%;
}

.ant-tabs-nav-wrap {
  padding-top: 2%;
}

.head-page {
  display: none;
}
.head-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  height: 130px;
  width: 100%;
}

h5 {
  font-size: 20px;
}

.head-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 60%;
}

.back-arrow-image {
  cursor: pointer;
}

.employee-tab-divider {
  background-color: #000000;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 95%;
}

.head-tab-employees-title {
  margin-bottom: 15px;
}

.ant-tabs-ink-bar {
  background-color: #000000;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.ant-tabs-tab-btn {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.ant-tabs-tab-inactive {
  background-color: yellow;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border: none !important;
}
