@media only screen and (max-width: 391px) {
  .main-container {
    padding: 30px 8px;
  }
  .web-header {
    display: none !important;
  }

  .tab-container {
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 30px 20px 0 20px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .bold-title {
    font-weight: 700;
    color: #232323;
    text-align: center;
  }
  .page {
    text-align: center;
    color: #898989;
    line-height: 17px;
    font-size: 14px;
  }

  .fullName-container {
    display: block !important;
  }
  .firstName,
  .lastName {
    width: 100% !important;
  }

  .main-container-container {
    display: block !important;
  }

  .footer-logo-container {
    display: none;
  }
  .main-employee-container {
    width: 100% !important;
    padding: 35px 15px !important;
  }
}

.parent-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.footer-logo-container {
  text-align: center;
  padding: 40px 0;
}

.fullName-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.main-container-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.main-employee-container {
  width: 80%;
  padding: 45px 175px;
  background-color: #fff;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.custom-input {
  border: 1.8px solid #8ac0e2;
  width: 100%;
  height: 60px;
}

.firstName,
.lastName {
  min-width: 25vw !important;
}
.custom-select {
  background-color: #ebebeb;
  border-radius: 8px;
  color: #000000;
  height: 60px;
  display: flex;
  justify-content: center;
  font-family: "HelveticaNeue";
  font-size: 16px;
  padding: 0px;
}

.ant-select-selection-item {
  font-weight: 600;
}

.ant-input {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-family: "HelveticaNeue";
}

label {
  font-weight: 800;
  font-size: 18px;
  height: 21px;
}

.ant-input-affix-wrapper {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.next-button-container {
  text-align: end;
}

.next-button {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  justify-content: space-between;
  font-size: 20px;
  background-color: #62a1eb;
  color: white;
}

.ant-select-selection-placeholder {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.ant-select-selector {
  height: 60px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  background-color: #ebebeb !important;
}

.ant-select
  .ant-select-in-form-item
  .custom-select
  .ant-select-single
  .ant-select-show-arrow {
  padding: 0% !important;
}

.tab-container {
  display: none;
}
