@media only screen and (max-width: 391px) {
  .ant-tabs-tab {
    display: none;
  }

  .ant-tabs-tab-active {
    display: block !important;
  }
  .ant-tabs-ink-bar {
    display: none;
  }

  .head-inner-container {
    padding: 12px !important;
  }
  .outter-container {
    padding-top: 3%;
  }

  .fullName-container {
    display: block !important;
  }
  .firstName,
  .lastName {
    width: 100% !important;
  }

  .main-container {
    padding: 30px 8px;
  }

  .bold-title {
    font-weight: 700;
    color: #232323;
    text-align: center;
  }
  .page {
    text-align: center;
    color: #898989;
    line-height: 17px;
    font-size: 14px;
  }

  .row {
    display: block !important;
  }

  .fields-in-a-row-container {
    display: block !important;
  }

  .main-container-container {
    display: block !important;
  }
  .mobile-back-arrow-header {
    cursor: pointer;
  }

  .footer-logo-container {
    display: none;
  }
  .main-employee-container {
    width: 100% !important;
    padding: 35px 15px !important;
  }
  .image-uploader {
    background-color: #f6f6f6;
    border-radius: 8px;
    border: 2px dashed #4386a9;
    width: 100%;
    height: 240px;
  }

  .image-uploader-error {
    background-color: #f6f6f6;
    border-radius: 8px;
    border: 2px dashed #ff4d4f;
    width: 100%;
    height: 240px;
  }

  .divider-container {
    display: none;
  }

  .laptop-name,
  .brand,
  .cpu,
  .price,
  .date {
    width: 100% !important;
  }
}

.head-inner-container {
  position: absolute;
  padding-left: 5%;
}

.outter-container {
  padding-top: 3%;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border: none;
}
.ant-tabs-tab-btn {
  color: #232323 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.ant-tabs-ink-bar {
  background-color: #232323 !important;
}
.ant-modal-body {
  text-align: center;
}
.modal-title {
  font-weight: 700;
  font-size: 25px;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-modal-content {
  border-radius: 8px;
}

.modal-button {
  color: white;
  width: 300px;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #0089a7;
  box-shadow: none;
  font-size: 20px;
}

.transparent-button-container,
.modal-button-container {
  padding: 14px;
}

.image-uploader {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: 2px dashed #4386a9;
  width: 100%;
  height: 400px;
}

.image-uploader-error {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: 2px dashed #ff4d4f;
  width: 100%;
  height: 400px;
}

.ant-select
  .ant-select-in-form-item
  .custom-select
  .ant-select-single
  .ant-select-show-arrow {
  padding: 0% !important;
}

.ant-select-selection-placeholder {
  font-weight: 600;
  color: #000000;
}
.camera-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hint-container {
  padding: 2%;
  text-align: center;
  width: 200px;
  font-weight: 400;
  color: #4386a9;
  font-size: 16px;
}

.ant-select-selector {
  height: 60px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  background-color: #ebebeb !important;
}

.ant-input {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-family: "HelveticaNeue";
}

label {
  font-weight: 800;
  font-size: 18px;
  height: 21px;
}

.ant-input-affix-wrapper {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.footer-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}

.next-button {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  justify-content: space-between;
  font-size: 20px;
  background-color: #62a1eb;
  color: white;
}

.back-button {
  width: 130px;
  height: 45px;
  border: none;
  box-shadow: 0 0 0 0;
  justify-content: flex-start;
  font-size: 20px;
  background-color: white;
  color: #62a1eb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.ant-input-suffix {
  font-weight: 400;
  width: 13px;
  color: #797979;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2%;
  padding-bottom: 2%;
}

.cpu {
  min-width: 15vw;
}

.main-container-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.main-employee-container {
  width: 80%;
  padding: 45px 175px;
  background-color: #fff;
}

.fullName-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.custom-input {
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
  height: 60px;
}

.custom-select {
  background-color: #ebebeb;
  border-radius: 8px;
  color: #000000;
  height: 60px;
  display: flex;
  justify-content: center;
  font-family: "HelveticaNeue";
  font-size: 16px;
}

.ant-select-selection-item {
  font-weight: 600;
}

.parent-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.flexTop {
  align-items: flex-start !important;
}

.footer-logo-container {
  text-align: center;
  padding: 40px 0;
}

.brand,
.laptop-name,
.ram,
.price,
.condition,
.date {
  min-width: 25vw;
}

.next-button-container {
  text-align: end;
}

.firstName,
.lastName {
  min-width: 25vw !important;
}
