@media only screen and (max-width: 391px) {
  .card-container {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100% !important;
    height: 120px !important;
  }
  .parent-inner-container {
    display: block !important;
  }

  .web-back-arrow {
    display: none;
  }
  .mobile-back-arrow {
    display: block !important;
    cursor: pointer;
  }

  .main-info-container {
    width: 100% !important;
    padding: 35px 15px !important;
    background-color: #f7f7f7;
  }

  .parent-info-inner-container {
    width: 100%;
    display: block !important;
    padding: 0% !important;
  }

  .field-name,
  .field-value {
    font-size: 14px !important;
  }

  .left-side-info-container,
  .right-side-info-container {
    width: 100% !important;
    padding: 0% !important;
  }
}

.main-info-container {
  padding: 0 150px 100px 150px;
}

.left-side-info-container,
.right-side-info-container {
  width: 50%;
}

.left-side-info-container {
  padding-right: 100px;
}
.left-side-info-container {
  padding-left: 100px;
}

.laptop-info-image {
  padding-bottom: 30px;
}

.info-inline-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
}
.mobile-back-arrow {
  display: none;
}

.web-back-arrow {
  cursor: pointer;
}
body {
  background-color: #f7f7f7;
}

.parent-container {
  width: 100%;
  height: 100%;
}

.parent-info-inner-container {
  padding-top: 5%;
  grid-column-gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.card-container {
  background-color: #eafaff;
  border: 1px solid #aed1ea;
  border-radius: 10px;
  width: 560px;
  height: 200px;
}

.card-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px;
  width: 100%;
  height: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
}
.card-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

.name-info {
  color: #2e2e2e;
  font-size: 14px;
  font-style: Medium;
  font-family: "HelveticaNeue";
  font-weight: 600;
}

.cpu-info {
  color: #2e2e2e;
  font-size: 16px;
  font-style: Medium;
  font-family: "HelveticaNeue";
}
.inline-detail-container {
  display: flex;
}

.field-name {
  font-size: 22px;
  font-weight: 600;
  color: #2e2e2e;
}

.field-value {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
}
