@media only screen and (max-width: 391px) {
  .main-container {
    padding: 30px 8px;
  }

  .bold-title {
    font-weight: 700;
    color: #232323;
    text-align: center;
  }
  .page {
    text-align: center;
    color: #898989;
    line-height: 17px;
    font-size: 14px;
  }

  .row {
    display: block !important;
  }

  .fields-in-a-row-container {
    display: block !important;
  }

  .main-container-container {
    display: block !important;
  }

  .footer-logo-container {
    display: none;
  }
  .main-employee-container {
    width: 100% !important;
    padding: 35px 15px !important;
  }
  .image-uploader {
    background-color: #f6f6f6;
    border-radius: 8px;
    border: 2px dashed #4386a9;
    width: 100%;
    height: 240px;
  }

  .image-uploader-error {
    background-color: #f6f6f6;
    border-radius: 8px;
    border: 2px dashed #ff4d4f;
    width: 100%;
    height: 240px;
  }

  .divider-container {
    display: none;
  }
  .tab-container {
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 30px 20px 0 20px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .fields-in-a-row-child,
  .cpu,
  .price,
  .date {
    width: 100% !important;
  }
}

.parent-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.footer-logo-container {
  text-align: center;
  padding: 40px 0;
}

.fields-in-a-row-child {
  width: 25vw;
}
.flexTop {
  align-items: flex-start !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2%;
  padding-bottom: 2%;
}

.cpu {
  width: 15vw;
}

.ram,
.price,
.condition,
.date {
  width: 25vw;
}
.main-container-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.main-employee-container {
  width: 80%;
  padding: 45px 175px;
  background-color: #fff;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.custom-input {
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
  height: 60px;
}

.custom-select {
  background-color: #ebebeb;
  border-radius: 8px;
  color: #000000;
  height: 60px;
  display: flex;
  justify-content: center;
  min-width: 15vw;
  font-family: "HelveticaNeue";
  font-size: 16px;
}

.ant-select-selection-item {
  font-weight: 600;
}

.ant-input {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-family: "HelveticaNeue";
}

label {
  font-weight: 800;
  font-size: 18px;
  height: 21px;
}

.ant-input-affix-wrapper {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}

.next-button {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  justify-content: space-between;
  font-size: 20px;
  background-color: #62a1eb;
  color: white;
}

.back-button {
  width: 130px;
  height: 45px;
  border: none;
  box-shadow: 0 0 0 0;
  justify-content: flex-start;
  font-size: 20px;
  background-color: white;
  color: #62a1eb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.ant-input-suffix {
  font-weight: 400;
  width: 13px;
  color: #797979;
}

.camera-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hint-container {
  padding: 2%;
  text-align: center;
  width: 200px;
  font-weight: 400;
  color: #4386a9;
  font-size: 16px;
}

.ant-select-selector {
  height: 60px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  background-color: #ebebeb !important;
}

.ant-select
  .ant-select-in-form-item
  .custom-select
  .ant-select-single
  .ant-select-show-arrow {
  padding: 0% !important;
}

.image-uploader {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: 2px dashed #4386a9;
  width: 100%;
  height: 400px;
}

.image-uploader-error {
  background-color: #f6f6f6;
  border-radius: 8px;
  border: 2px dashed #ff4d4f;
  width: 100%;
  height: 400px;
}

.tab-container {
  display: none;
}
